@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider _authenticationStateProvider;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@authMessage</p>

@if(claims.Count() > 0) {
    <dl>
        <dt>Auth Provider</dt>
        <dd>@authProvider</dd>

        <dt>Claims</dt>
        <dd>
            <ul>
                @foreach(var claim in claims)
                {
                    <li>@claim.Type: @claim.Value</li>
                }
            </ul>
        </dd>
    </dl>
}

@code {

    private string? authMessage;
    private string? authProvider;
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();    

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if(user.Identity is not null && user.Identity.IsAuthenticated)
        {
            authMessage = $"{user.Identity.Name} is authenticated.";
            authProvider = user.Identity.AuthenticationType;
            claims = user.Claims;
        }
        else
        {
            authMessage = "The user is NOT authentifcated.";
        }
    }
}