@page "/"

@inject HttpClient _httpClient;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>API URL: @apiBaseUrl</p>

@code {
    private string? apiBaseUrl;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if(_httpClient.BaseAddress is not null)
        {
            apiBaseUrl = _httpClient.BaseAddress.ToString();
        }
    }
}