@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/.auth/login/aad">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginSignOut(MouseEventArgs args)
    {        
        Navigation.NavigateTo("/.auth/logout", true);
    }
}
